# Prefix for name of all docker containers. By default it is set to "rm".
RECORD_SET_NAME=

# Host machine port that provides main entrypoint for the application. The application will be locally accessible at http://localhost:$INTERNAL_HOST_PORT/$APP_ROOT_PATH$RECORD_MANAGER_PATH (by default it is set to "1235")
#INTERNAL_HOST_PORT=1235

# Public origin of URL where Record Manager UI will run, e.g. https://kbss.fel.cvut.cz, https://kbss.fel.cvut.cz:8080, http://localhost. ! This option can be used only with running reverse proxy pointing to http://localhost:$INTERNAL_HOST_PORT !
#PUBLIC_ORIGIN=http://localhost

# Root path for all applications and services, e.g., "" or "/my-company". By default it is set to "". MUST start with slash and MUST NOT end with slash.
#APP_ROOT_PATH=/rm-demo

# Relative path for root Record Manager application starting from APP_ROOT_PATH (by default it is set to "/record-manager"). MUST start with slash and MUST NOT end with slash.
#RECORD_MANAGER_PATH=/record-manager-demo
#RECORD_MANAGER_PATH=/testing-complex-path/record-manager-demo

# Query parameters of form generator service (for more control over the service url it is possible to override this value with $FORMGEN_SERVICE_URL). Separate query parameters with "&". By default it is set to "_pId=clone-form".
#FORMGEN_SERVICE_QUERY_PARAMS=_pId=clone-form
#FORMGEN_SERVICE_QUERY_PARAMS=_pId=clone-form&formTemplateVersion=https://example.org/sfc-example-1/form-root/0.0.1&ignoreInvalidData=true

# URL to form generation service
#FORMGEN_SERVICE_URL=http://s-pipes-engine:8080/s-pipes/service?_pId=clone-form

RECORD_MANAGER_APP_TITLE=Record Manager

APP_LANGUAGE=en

# Internal address where record manager server runs which should be accessible from inside of docker. To access http://localhost of the host computer use value "http://host.docker.internal".
# See "extra-hosts" within docker-compose file for more info.
#INTERNAL_RECORD_MANAGER_SERVER_SERVICE=http://host.docker.internal:8080

# Keycloak settings
KC_REALM=record-manager
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=
#KC_ACCESS_TOKEN_LIFESPAN=5m

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# Annotator
#ANNOTATOR_PATH=/annotator

# Media CMS
MEDIA_CMS_ADMIN_USER=
MEDIA_CMS_ADMIN_PASSWORD=
MEDIA_CMS_ADMIN_EMAIL=

# Google oAuth
ENABLE_GOOGLE_LOGIN=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

